.button-style
{

	font-weight: bold;
	border-radius: 5px;
	margin-left: 14px;



}
.navigation-elements{
	margin-left: 10px;

	font-weight: bold;
	border-radius: 5px;
	
}

.skill-heading
{
	font-size:20px;
	font-weight: bold;
	font-family: sans-serif;

}
.body{

	background-color: #33F6FF;
}